includeConfig "$baseDir/params.config"
includeConfig "../nextflow.global.config"
singularity.cacheDir = "$baseDir/../singularity"

process {
  memory='12G'
  cache='lenient'
  container = 'biocorecrg/mopmod:0.3'
  containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
  withLabel: big_cpus {
        cpus = 8
        memory = '12G'
  }
     withLabel: big_mem_cpus_2 {
       container = 'biocorecrg/mopmod:0.4'
       queue = 'biocore-el7,long-sl7,short-sl7'
       cpus = 1
       memory = '10G'
   }
   withLabel: big_mem_cpus {
       container = 'biocorecrg/mopmod:0.3'
       queue = 'biocore-el7,long-sl7,short-sl7'
       cpus = 8
       memory = '10G'
   }
}
//singularity.enabled = true
