includeConfig "$baseDir/params.config"
//includeConfig "../nextflow.global.config"
singularity.cacheDir = "$baseDir/../singularity"



process {
errorStrategy = 'ignore'
  memory='12G'
  cache='lenient'
  queue = 'biocore-el7,long-sl7,short-sl7'
  container = 'biocorecrg/mopmod1:0.2'
  containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
  withLabel: single_cpu_long {
       cpus = 1
       memory = '30G'
       time = '6h'  
  }

  withLabel: single_cpu {
       cpus = 1
       memory = '30G'
   }
   withLabel: big_mem_cpus {
       cpus = 8
       errorStrategy = 'retry'
       memory = {30.GB + 10.GB * task.attempt}
       maxRetries = 4 
   }
   withLabel: big_long_mem_cpus {
       cpus = 8
       time = '48h'
       cpus = 8
       errorStrategy = 'retry'
       memory = {30.GB + 10.GB * task.attempt}
       maxRetries = 4        
   }

}
//singularity.enabled = true
