params {
    input_folders      = "$baseDir/../NanoPreprocess/output_tr/"
    comparison         = "$baseDir/comparison.tsv"

    reference          = "$baseDir/../anno2/Yeast.sacCer3.cdna.fa.gz"

    output             = "$baseDir/output"
    tombo_opt          = "--num-bases 5"
    tombo_score        = "0.75"

    epinano_opt        = ""
    epinano_score      = "5"
    email              = "yourname@yourdomain"
}

