params {
    folderin           = "$baseDir/../NanoPreprocess/output2/"
    comparison         = "$baseDir/comparison.tsv"

    reference          = "$baseDir/../anno2/genome.fa.gz"

    output             = "$baseDir/output"
    tombo_opt          = ""
    epinano_opt        = ""

    email              = "yourname@yourdomain"
}

