params {
    input_folders      = "$baseDir/../NanoPreprocess/output_tr/"
    comparison         = "$baseDir/comparison.tsv"

    reference          = "$baseDir/../anno2/Yeast.sacCer3.cdna.fa.gz"

    output             = "$baseDir/output_1"
    tombo_opt          = "--num-bases 5"
    tombo_score        = "0.5"

    motif              = ""
    epinano_opt        = ""
    epinano_score      = "5"
    
    wt_num             = "1"
    ko_num             = "1"

    motif              = "[AG][AG]AC[ACT]"
    email              = "yourname@yourdomain"
}

