includeConfig "$baseDir/params.config"
//includeConfig "../nextflow.global.config"
singularity.cacheDir = "$baseDir/../singularity"

process {
   container = 'biocorecrg/mopmod1:0.2'
   withLabel: big_mem_cpus {
       queue = 'long-sl7,biocore-el7,short-sl7'
       cpus = 8
       memory = '20G'
   }

   withLabel: big_mem_cpus_time_np {
       container = "biocorecrg/mopnanopolish:0.2"
       queue = 'biocore-el7,long-sl7'
       cpus = 8
       memory = '60G'
       time = '96h'
   }

   withLabel: big_mem_cpus_time {
       container = "biocorecrg/mopnanotail:0.2"
       queue = 'biocore-el7,long-sl7'
       cpus = 8
       memory = '60G'
       time = '96h'
   }
}


singularity.autoMounts = true
