includeConfig "$baseDir/nanotail.config"
includeConfig "../nextflow.global.config"
singularity.cacheDir = "$baseDir/../singularity"
process {
   withLabel: big_mem_cpus_time {
       container = 'biocorecrg/mopmod:0.2'
       queue = 'biocore-el7,long-sl7'
       cpus = 8
       memory = '60G'
       time = '96h'
   }
}


singularity.autoMounts = true
