includeConfig "$baseDir/params.config"
includeConfig "../nextflow.global.config"
singularity.cacheDir = "$baseDir/../singularity"
process {
   withLabel: big_mem_cpus {
       container = 'biocorecrg/mopmod:0.3'
       cpus = 8
       memory = '20G'
   }
   withLabel: big_mem_cpus_time {
       container = 'biocorecrg/mopmod:0.3'
       cpus = 8
       memory = '60G'
       time = '96h'
   }
}


singularity.autoMounts = true
