params {
    fast5_sample       = "$baseDir/../data2/output_wt1/fast5_files/test_all/*.fast5"
    fast5_control       = "$baseDir/../data2/output_ko1/fast5_files/RNAAA024588_ko1/*.fast5"

    bam_sample         = "$baseDir/../data2/output_wt1/Aln/test_all.minimap2.sorted.bam"
    bam_control        = "$baseDir/../data2/output_ko1/Aln/RNAAA024588_ko1.minimap2.sorted.bam"
   
    fastq_sample       = "$baseDir/test/../data2/output_wt1/fastq_files/test_all.fq.gz"
    fastq_control      = "$baseDir/test/../data2/output_ko1/fastq_files/RNAAA024588_ko1.fq.gz"

    reference          = "$baseDir/../anno/genome.fa.gz"
    multi5_sample      = "YES"
    multi5_control     = "YES" 

    output             = "$baseDir/output_2"
    granularity        = 1
 
    modfinder          = "tombo"
    modfinder_opt      = ""

    tailfinder         = "nanopolish"
    tailfinder_opt     = ""


    email              = "yourname@yourdomain"
}
