singularity
mop_preprocess/bin/multi_to_single_fast5
mop_preprocess/bin/read_fast5_basecaller.py
mop_preprocess/bin/ont*
mop_preprocess/bin/lib*
mop_preprocess/bin/MINIMAP2_LICENSE
mop_preprocess/bin/guppy*
*/work
*/.next*
