includeConfig "$baseDir/nextflow.global.config"
includeConfig "$baseDir/preproc.config"
singularity.cacheDir = "$baseDir/singularity"

profiles {
  
  // Default profile, assumed CRG cluster
  standard {
    queue='biocore-el7,long-sl7,short-sl7'
  }
  
  awsbatch {
    // Your working dir in a S3 bucket
    workDir = 's3://frankfurt-nf/work'
    process.executor = 'awsbatch'
    // replace with gspot for GPU nodes
    process.queue = 'spot'
    // Path below depends on the launch image
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    // Used region. Notice not all regions have the same node types
    aws.region = 'eu-central-1'
    docker.enabled = true
  }
}
