singularity.autoMounts = true

env {
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
  PYTHONNOUSERSITE = 1
}

singularity {
    runOptions = "--no-home"
}

profiles {
    m1mac {
      includeConfig 'conf/m1_apple.config'
    }
    awsbatch {
      includeConfig 'conf/awsbatch.config'
    }
    local {
      includeConfig 'conf/local.config'
    }
    cluster {
		includeConfig 'conf/sge.config'
    }
    sge {
      includeConfig 'conf/sge.config'
    }
    standard {
      includeConfig 'conf/standard.config'
    }
    slurm {
     includeConfig 'conf/slurm.config'
    }
    ci {
      includeConfig 'conf/ci.config'
    }
}
