includeConfig "$baseDir/preproc.config"

profiles {
  
  awsbatch {
    workDir = 's3://frankfurt-nf/work'
    process.executor = 'awsbatch'
    process.queue = 'gspot'
    aws.batch.cliPath = '/home/ubuntu/miniconda/bin/aws'
    aws.region = 'eu-central-1'    
  }

}

process.container = "biocorecrg/npbasecallcpu:0.1"
process.containerOptions = "--gpus all"
docker.enabled = true
