singularity {
	autoMounts = true
	//runOptions = '-B $SINGULARITY_TMPDIR:/tmp -B $SINGULARITY_TMPDIR:/scratch'
        //Used to allow Singularity to access bashrc variables
        envWhitelist = ['SINGULARITY_TMPDIR']
}


env {
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
  PYTHONNOUSERSITE = 1
}

profiles {
    m1mac {
      includeConfig 'conf/m1_apple.config'
    }
    awsbatch {
      includeConfig 'conf/awsbatch.config'
    }
    local {
      includeConfig 'conf/local.config'
    }
    crg {
       includeConfig 'conf/crg.config'
    }
    newcrg {
       includeConfig 'conf/newcrg.config'
    }
    cluster {
	includeConfig 'conf/crg.config'
    }
    sge {
      includeConfig 'conf/sge.config'
    }
    standard {
      includeConfig 'conf/standard.config'
    }
    slurm {
     includeConfig 'conf/slurm.config'
    }
    ci {
      includeConfig 'conf/ci.config'
    }
}
