includeConfig "$baseDir/preproc.config"

process {
  memory='4G'
  cache='lenient'
  container = 'biocorecrg/nanopore:1.0'
  queue='biocore-el7,long-sl7,short-sl7'
  containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
  withLabel: big_cpus {
        cpus = 2
        memory = '5G'
  }
  withLabel: big_mem_cpus {
        cpus = 2
        memory = '5G'
  }
  withLabel: basecall_cpus {
        container = 'biocorecrg/npbasecallcpu:0.2'
        cpus = 2
        memory = '5G'
  }
  withLabel: basecall_gpus {
        container = 'biocorecrg/npbasecallgpu:0.3'
        maxForks = 1
        containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
           ( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) } 
  } 
}
singularity.cacheDir = "$baseDir/singularity"
singularity.autoMounts = true
