process {
  memory='12G'
  maxForks = 1
  cache='lenient'
  container = 'biocorecrg/nanopore:0.9'
  containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
  withLabel: big_cpus {
        cpus = 8
        memory = '25G'
  }
  withLabel: big_mem_cpus_time { 
        cpus = 40
        memory = '800G'
        time = '96h'
  }
  withLabel: big_mem_cpus {
        cpus = 8
        memory = '70G'
  }
  withLabel: basecall_cpus {
        container = 'biocorecrg/npbasecallcpu:0.2'
        cpus = 8
        memory = '5G'
  }
  withLabel: basecall_gpus {
        container = 'biocorecrg/npbasecallgpu:0.3'
        maxForks = 1
        containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
           ( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) } 
  } 
}
