params {
    kit                 = "SQK-RNA001"
    flowcell            = "FLO-MIN106"
    fast5               = "$baseDir/data/multifast/*.fast5"
    multi5              = "YES"
    reference           = "$baseDir/anno/curlcake_constructs.fasta.gz"
   
    seqtype             = "RNA"
    output              = "$baseDir/output"
    qualityqc           = 5
    granularity         = 1
 
    basecaller          = "guppy"
    basecaller_opt      = ""
    GPU                 = "OFF"
    demultiplexing      = ""   
    demultiplexing_opt  = ""
    barcodekit          = ""
    filter              = "nanofilt"
    filter_opt          = "-q 0 --headcrop 5 --tailcrop 3 --readtype 1D" 
   
    mapper              = "minimap2"
    mapper_opt          = ""
    map_type            = "spliced"

    email               = ""
}
