params {
    
    input_path         = "$baseDir/../mop_mod/output_mod"
    reference          = "$baseDir/../anno/yeast_rRNA_ref.fa.gz"

    comparison         = "$baseDir/comparison.tsv"
    padsize            = 50
    output             = "$baseDir/output"
    
    email              = "yourname@yourdomain"
}
