params {
    fast5_sample       = "$baseDir/../preprocessing/output_wt/fast5_files/wt/*.fast5"
    fast5_control      = "$baseDir/../preproc_2/output_ko/fast5_files/ko/*.fast5"

    
    reference          = "$baseDir/../anno/Yeast.sacCer3.cdna.fa.gz"
    multi5_sample      = "YES"
    multi5_control     = "YES"
  
    output             = "$baseDir/output"
    granularity        = 3
 
    modfinder          = "tombo"
    modfinder_opt      = ""

    tailfinder         = ""   
    tailfinder_opt     = ""

    mapper             = "minimap2"
    mapper_opt         = ""
    map_type           = "spliced"

    email              = "yourname@yourdomain"
}
