process {
        shell = ['/bin/bash', '-euo', 'pipefail']
	executor = 'local'
	cpus = 3
	memory = '4GB'
    cache='lenient'
    container = 'biocorecrg/mopprepr:0.7'
    containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
    withLabel: big_cpus_ignore {
        errorStrategy = 'ignore'
    }

}
singularity.cacheDir = "${projectDir}/../singularity"
