process {
    executor = 'local'
    cpus = 1
    cache='lenient'
    container = 'biocorecrg/mopprepr:0.7'
    containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --platform linux/amd64': null}
    withLabel: big_cpus_ignore {
        errorStrategy = 'ignore'

    }
    withName: 'extracting_demultiplexed_pod5' {
        containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        container = 'biocorecrg/pod5:0.3.23m1'
    }
}
