process {
        shell = ['/bin/bash', '-euo', 'pipefail', '\n', 'hostname >&2', '\n']
	executor = "slurm"
        cpus = 1
	memory='12G'
    	queue='genoa64'
        cache='lenient'
        time = '6h'
	container = 'biocorecrg/mopprepr:0.7'
	containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        clusterOptions = { task.time <= 3.h ? '--qos=shorter' : 
            (task.time <= 6.h ? '--qos=short' : 
            (task.time <= 12.h ? ' --qos=normal' : 
            (task.time <= 24.h ? '--qos=long' : 
            (task.time <= 48.h ? '--qos=vlong' : '--qos=marathon' )))) }

        withLabel: big_mem_time {
             memory = '60G'
             time = '24h'
        }
        withLabel: big_time_cpus {
                cpus = 8
                memory = '60G'
                time = '24h'

        }
       withLabel: big_cpus {
		cpus = 8
		memory = '8G'
	}
    withLabel: big_mem {
        cpus = 1
        memory = '80G'
    }
    withLabel: big_cpus_retry {
        errorStrategy = 'retry'
        cpus = 8
        memory = {8.GB * task.attempt}
        maxRetries = 3

    }
    withLabel: big_cpus_ignore {
        errorStrategy = 'ignore'
        cpus = 8
        memory = '8G'
    }
	withLabel: big_mem_cpus {
		time = '6h'
		cpus = 8
		memory = '60G'
	}
     withLabel: demulti_gpus {
         time = '6h'
         memory = '12G'
         containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
         ( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) }
     }
	  withLabel: basecall_gpus {
   		time = '6h'
                memory = '8G'
   		clusterOptions = '--gres=gpu:1g.10gb:1'
   		containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
      		( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) }
	}
}
singularity.enabled = true
singularity.envWhitelist = "CUDA_VISIBLE_DEVICES,SGE_HGR_gpu"
