process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    executor = "slurm"
    cpus = 1
    memory='12G'
    queue='genoa64'
    cache='lenient'
    time = '3h'
    container = "bash:devel-alpine3.21"

    withLabel: process_short_single {
        errorStrategy = 'retry'
        cpus = 1
        time = {1.h * task.attempt}
        memory = {5.GB * task.attempt}
        maxRetries = 2
    }

    withLabel: process_low {
        errorStrategy = 'retry'
        cpus = 1
        time = {3.h * task.attempt}
        memory = {12.GB * task.attempt}
        maxRetries = 2
    }

    withLabel: process_medium {
        errorStrategy = 'retry'
        cpus = 4
        time = {6.h * task.attempt}
        memory = {12.GB * task.attempt}
        maxRetries = 2
    }

    withLabel: process_high {
        errorStrategy = 'retry'
        cpus = 8
        time = {12.h * task.attempt}
        memory = {64.GB * task.attempt}
        maxRetries = 2
    }

    withLabel: gpu {
        errorStrategy = 'retry'
        queue = 'gpu_novoa'
        time = {3.h * task.attempt}
        memory = {10.GB * task.attempt}
        maxRetries = 2
        clusterOptions = '--gres=gpu:nvidia_rtx_a4000:1'
        containerOptions = "--cleanenv --nv"
    }

}

singularity.enabled = true
singularity.envWhitelist = "CUDA_VISIBLE_DEVICES,SGE_HGR_gpu"
