process {
	executor = 'slurm'
	cpus = 1
	memory='12G'
	cache='lenient'
	container = 'biocorecrg/mopprepr:0.7'
	containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        withLabel: big_mem_time {
             memory = '60G'
             time = '24h' 
        }
        withLabel: big_time_cpus {
                cpus = 8
                memory = '60G'
                time = '24h'

        }	
       withLabel: big_cpus {
		cpus = 8
		memory = '8G'
	}
    withLabel: big_mem {
        cpus = 1
        memory = '80G'
    }
    withLabel: big_cpus_retry {
        errorStrategy = 'retry'
        cpus = 8
        memory = {8.GB * task.attempt}
        maxRetries = 3
    }
    withLabel: big_cpus_ignore {
        errorStrategy = 'ignore'
        cpus = 8
        memory = '8G'
    }
	withLabel: big_mem_cpus {
		time = '6h'
		cpus = 8
		memory = '60G'
	}
     withLabel: demulti_gpus {
         memory = '20G'
         singularity.envWhitelist = "CUDA_VISIBLE_DEVICES,SGE_HGR_gpu"
         containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
         ( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) }
     }	
	  withLabel: basecall_gpus {
   		memory = '8G'
   		singularity.envWhitelist = "CUDA_VISIBLE_DEVICES,SGE_HGR_gpu"
   		containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
      		( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) }
	}	
}
