process {
  cpus = 1
  memory='8G'
  cache='lenient'
  container = 'biocorecrg/mopprepr:0.7'
  containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}

  withLabel: big_cpus {
		cpus = 8
		memory = '8G'
  }
  withLabel: big_cpus_ignore {
        errorStrategy = 'ignore'
        cpus = 8
        memory = '8G'
  } 
  withLabel: big_mem_cpus {
		time = '6h'
		cpus = 8
		memory = '30G'
  }
  withLabel: basecall_cpus {
		cpus = 8
		memory = '8G'
  }
  withLabel: basecall_gpus {
		maxForks = 1
		memory = '8G'
	containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
		   ( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) } 
  }
}  