params {
    kit                 = "SQK-RNA001"
    flowcell            = "FLO-MIN106"
    fast5               = "$baseDir/../real_data/test1wt/*.fast5"
    reference           = "$baseDir/../anno2/genome.fa.gz"
    //reference           = "$baseDir/../anno2/Yeast.sacCer3.cdna.fa.gz"
    annotation          = "$baseDir/../anno2/Saccharomyces_cerevisiae.R64-1-1.98.gtf.gz"
    ref_type            = "genome"

    seq_type            = "RNA"
    output              = "$baseDir/output/test1wt"
     qualityqc           = 5
    granularity         = "" 

    basecaller          = "guppy"
    basecaller_opt      = ""
    GPU                 = "OFF"
    demultiplexing      = ""   
    demultiplexing_opt  = "-m pAmps-final-actrun_newdata_nanopore_UResNet20v2_model.030.h5"
    
    filter              = ""
    filter_opt          = "" 
   
    mapper              = "minimap2"
    mapper_opt          = "-uf -k14"
    map_type            = "spliced"

    counter_opt         = ""
    email               = ""
} 
