params {
    kit                 = "SQK-RNA001"
    flowcell            = "FLO-MIN106"
    fast5               = "$baseDir/../data/multifast/*.fast5"
    reference           = "$baseDir/../anno/curlcake_constructs.fasta.gz"
    annotation          = ""
    ref_type            = "transcriptome"

    seq_type            = "RNA"
    output              = "$baseDir/output"
    qualityqc           = 5
    granularity         = "" 

    basecaller          = "guppy"
    basecaller_opt      = ""
    GPU                 = "OFF"
    demultiplexing      = "deeplexicon"   
    demultiplexing_opt  = "-m pAmps-final-actrun_newdata_nanopore_UResNet20v2_model.030.h5"
    
    filter              = ""
    filter_opt          = "" 
   
    mapper              = "minimap2"
    mapper_opt          = "-uf -k14"
    map_type            = "unspliced"

    counter             = "YES"
    counter_opt         = ""
    email               = ""
}
