params {
    kit                 = "SQK-RNA001"
    flowcell            = "FLO-MIN106"
    fast5               = "$baseDir/../data/multifast/*.fast5"
    reference           = "$baseDir/../anno/curlcake_constructs.fasta.gz"
    annotation          = ""
    ref_type            = "transcriptome"

    seq_type            = "cDNA"
    output              = "$baseDir/multifast"
    qualityqc           = 5
    granularity         = "" 

    basecaller          = "guppy"
    basecaller_opt      = ""
    GPU                 = "OFF"
    demultiplexing      = ""   
    demultiplexing_opt  = "-m pAmps-final-actrun_newdata_nanopore_UResNet20v2_model.030.h5"
    demulti_fast5       = "OFF"    

    filter              = ""
    filter_opt          = ""
   
    mapper              = "graphmap2"
    mapper_opt          = ""
    map_type            = "spliced"

    counter             = "YES"
    counter_opt         = ""

    variant_caller      = "NO"
    variant_opt         = ""

    downsampling        = ""

    email               = ""
}
