params {
    
    folderin           = "$baseDir/../NanoPreprocess/output/*"
    nanopolish_opt     = "" 
    tailfindr_opt      = ""

    reference          = "$baseDir/../anno2/Yeast.sacCer3.cdna.fa.gz" 
    output             = "$baseDir/output"
 
    email              = "yourname@yourdomain"
}
