params {
    fast5               = "$baseDir/../NanoPreprocess/multifast/fast5_files/*.fast5"
    fastq               = "$baseDir/../NanoPreprocess/multifast/fastq_files/*.fq.gz"
    reference           = "$baseDir/../anno/curlcake_constructs.fasta.gz"
    annotation          = ""
    ref_type            = "transcriptome"

    seq_type            = "cDNA"
    output              = "$baseDir/output"
    qualityqc           = 5
    granularity         = "" 

    GPU                 = "OFF"
    demultiplexing      = "deeplexicon"  
    demultiplexing_opt  = "-s 0.9 -m resnet20-final.h5"
    demulti_fast5       = "OFF"    

    filter              = ""
    filter_opt          = ""
   
    mapper              = "minimap2"
    mapper_opt          = "-uf -k14"
    map_type            = "unspliced"

    variant_caller      = "YES"
    variant_opt         = ""

    downsampling        = ""  

    counter             = "YES"
    counter_opt         = ""
    email               = ""
}
